<header class="text-center">
  <a href="{{ blog.url }}" class="text-black hover:text-blue-700">{{ blog.title }}</a>
  <h1 class="text-4xl md:text-6xl font-medium" itemprop="headline">{{ article.title }}</h1>
</header>
